{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "dtypesVoidRequest": {
      "description": "Void Requests and response to use with other types.",
      "type": "object"
    },
    "v1alpha1ConduitUser": {
      "properties": {
        "image": {
          "type": "string"
        },
        "is_admin": {
          "format": "boolean",
          "type": "boolean"
        },
        "is_approved": {
          "format": "boolean",
          "type": "boolean"
        },
        "is_bot": {
          "format": "boolean",
          "type": "boolean"
        },
        "is_disabled": {
          "format": "boolean",
          "type": "boolean"
        },
        "is_email_verified": {
          "format": "boolean",
          "type": "boolean"
        },
        "is_mailing_list": {
          "format": "boolean",
          "type": "boolean"
        },
        "phid": {
          "type": "string"
        },
        "preferences": {
          "$ref": "#/definitions/v1alpha1Preferences"
        },
        "primary_email": {
          "type": "string"
        },
        "real_name": {
          "type": "string"
        },
        "roles": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "uri": {
          "type": "string"
        },
        "user_name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1alpha1ConduitUsersResponse": {
      "properties": {
        "users": {
          "items": {
            "$ref": "#/definitions/v1alpha1ConduitUser"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "v1alpha1ConduitWhoAmIResponse": {
      "properties": {
        "user": {
          "$ref": "#/definitions/v1alpha1ConduitUser"
        }
      },
      "type": "object"
    },
    "v1alpha1Preferences": {
      "properties": {
        "date_formate": {
          "type": "string"
        },
        "time_format": {
          "type": "string"
        },
        "time_zone": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "conduit.proto",
    "version": "1alpha1"
  },
  "paths": {
    "/_appscode/api/auth/v1alpha1/conduit/users/json": {
      "get": {
        "operationId": "Users",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1alpha1ConduitUsersResponse"
            }
          }
        },
        "summary": "appctl used this to validates the user token with phabricator.",
        "tags": [
          "Conduit"
        ]
      }
    },
    "/_appscode/api/auth/v1alpha1/conduit/whoami/json": {
      "get": {
        "operationId": "WhoAmI",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1alpha1ConduitWhoAmIResponse"
            }
          }
        },
        "summary": "This rpc is used to check a valid user from other applications.",
        "tags": [
          "Conduit"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}