{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "dtypesVoidRequest": {
      "description": "Void Requests and response to use with other types.",
      "type": "object"
    },
    "v1alpha1ConduitUser": {
      "properties": {
        "avatar_url": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "full_name": {
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "language": {
          "type": "string"
        },
        "organizations": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "user_name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1alpha1ConduitUsersResponse": {
      "properties": {
        "users": {
          "items": {
            "$ref": "#/definitions/v1alpha1ConduitUser"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "v1alpha1ConduitWhoAmIResponse": {
      "properties": {
        "user": {
          "$ref": "#/definitions/v1alpha1ConduitUser"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "conduit.proto",
    "version": "1alpha1"
  },
  "paths": {
    "/_appscode/api/auth/v1alpha1/conduit/users/json": {
      "get": {
        "operationId": "Users",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1alpha1ConduitUsersResponse"
            }
          }
        },
        "summary": "appctl used this to validates the user token with phabricator.",
        "tags": [
          "Conduit"
        ]
      }
    },
    "/_appscode/api/auth/v1alpha1/conduit/whoami/json": {
      "get": {
        "operationId": "WhoAmI",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1alpha1ConduitWhoAmIResponse"
            }
          }
        },
        "summary": "This rpc is used to check a valid user from other applications.",
        "tags": [
          "Conduit"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}