{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "dtypesVoidResponse": {
      "type": "object"
    },
    "v1beta1CreateRequest": {
      "properties": {
        "client_ip": {
          "type": "string"
        },
        "display_name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "invite_emails": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "options": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "password": {
          "type": "string"
        },
        "payment_method_nonce": {
          "type": "string"
        },
        "subscription_type": {
          "type": "string"
        },
        "user_name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1GetRequest": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1GetResponse": {
      "properties": {
        "phid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1IsAvailableRequest": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "team.proto",
    "version": "1beta1"
  },
  "paths": {
    "/_appscode/api/namespace/v1beta1/teams/json": {
      "post": {
        "operationId": "Create",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1beta1CreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "summary": "Creates a new namespace, if name is valid and no namespace with same name exists.",
        "tags": [
          "Teams"
        ]
      }
    },
    "/_appscode/api/namespace/v1beta1/teams/{name}/is-available/json": {
      "get": {
        "operationId": "IsAvailable",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "summary": "Check if a namespace name is available meaning name is valid and no namespace with same name exists.",
        "tags": [
          "Teams"
        ]
      }
    },
    "/_appscode/api/namespace/v1beta1/teams/{name}/json": {
      "get": {
        "operationId": "Get",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1GetResponse"
            }
          }
        },
        "summary": "Gets a namespace, if exists. This can be used to check existence of a namespace.",
        "tags": [
          "Teams"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}