{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "dtypesVoidRequest": {
      "description": "Void Requests and response to use with other types.",
      "type": "object"
    },
    "v1beta1ConduitUser": {
      "properties": {
        "image": {
          "type": "string"
        },
        "phid": {
          "type": "string"
        },
        "preferences": {
          "$ref": "#/definitions/v1beta1Preferences"
        },
        "primary_email": {
          "type": "string"
        },
        "real_name": {
          "type": "string"
        },
        "roles": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "uri": {
          "type": "string"
        },
        "user_name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1ConduitUsersResponse": {
      "properties": {
        "users": {
          "items": {
            "$ref": "#/definitions/v1beta1ConduitUser"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "v1beta1ConduitWhoAmIResponse": {
      "properties": {
        "user": {
          "$ref": "#/definitions/v1beta1ConduitUser"
        }
      },
      "type": "object"
    },
    "v1beta1Preferences": {
      "properties": {
        "date_formate": {
          "type": "string"
        },
        "time_format": {
          "type": "string"
        },
        "time_zone": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "conduit.proto",
    "version": "1beta1"
  },
  "paths": {
    "/_appscode/api/auth/v1beta1/conduit/users/json": {
      "get": {
        "operationId": "Users",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1ConduitUsersResponse"
            }
          }
        },
        "summary": "appctl used this to validates the user token with phabricator.",
        "tags": [
          "Conduit"
        ]
      }
    },
    "/_appscode/api/auth/v1beta1/conduit/whoami/json": {
      "get": {
        "operationId": "WhoAmI",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1ConduitWhoAmIResponse"
            }
          }
        },
        "summary": "This rpc is used to check a valid user from other applications.",
        "tags": [
          "Conduit"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}