{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "dtypesVoidResponse": {
      "type": "object"
    },
    "valphaa1Certificate": {
      "properties": {
        "cert": {
          "type": "string"
        },
        "common_name": {
          "type": "string"
        },
        "expire_date": {
          "format": "int64",
          "type": "integer"
        },
        "issued_by": {
          "type": "string"
        },
        "key": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "phid": {
          "type": "string"
        },
        "sans": {
          "description": "those feilds will not included into list response.\nonly describe response will include the underlying\nfeilds.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serial_number": {
          "type": "string"
        },
        "valid_from": {
          "format": "int64",
          "type": "integer"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "valphaa1CertificateDeleteRequest": {
      "properties": {
        "uid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "valphaa1CertificateDeployRequest": {
      "properties": {
        "cluster_name": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "secret_name": {
          "type": "string"
        },
        "uid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "valphaa1CertificateDescribeRequest": {
      "properties": {
        "uid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "valphaa1CertificateDescribeResponse": {
      "properties": {
        "certificate": {
          "$ref": "#/definitions/valphaa1Certificate"
        }
      },
      "type": "object"
    },
    "valphaa1CertificateListRequest": {
      "type": "object"
    },
    "valphaa1CertificateListResponse": {
      "properties": {
        "certificates": {
          "items": {
            "$ref": "#/definitions/valphaa1Certificate"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "valphaa1CertificateLoadRequest": {
      "properties": {
        "cert_data": {
          "type": "string"
        },
        "key_data": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "certificate.proto",
    "version": "1alpha1"
  },
  "paths": {
    "/_appscode/api/cloud/v1alpha1/certificates/json": {
      "get": {
        "operationId": "List",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/valphaa1CertificateListResponse"
            }
          }
        },
        "tags": [
          "Certificates"
        ]
      }
    },
    "/_appscode/api/cloud/v1alpha1/certificates/{name}/actions/obtain/json": {
      "put": {
        "operationId": "Load",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/valphaa1CertificateLoadRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "tags": [
          "Certificates"
        ]
      }
    },
    "/_appscode/api/cloud/v1alpha1/certificates/{uid}/actions/deploy/json": {
      "put": {
        "operationId": "Deploy",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/valphaa1CertificateDeployRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "tags": [
          "Certificates"
        ]
      }
    },
    "/_appscode/api/cloud/v1alpha1/certificates/{uid}/json": {
      "delete": {
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "tags": [
          "Certificates"
        ]
      },
      "get": {
        "operationId": "Describe",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/valphaa1CertificateDescribeResponse"
            }
          }
        },
        "tags": [
          "Certificates"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}