{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "dtypesVoidResponse": {
      "type": "object"
    },
    "v1alpha2Certificate": {
      "properties": {
        "cert": {
          "type": "string"
        },
        "common_name": {
          "type": "string"
        },
        "expire_date": {
          "format": "int64",
          "type": "integer"
        },
        "issued_by": {
          "type": "string"
        },
        "key": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "phid": {
          "type": "string"
        },
        "sans": {
          "description": "those feilds will not included into list response.\nonly describe response will include the underlying\nfeilds.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serial_number": {
          "type": "string"
        },
        "valid_from": {
          "format": "int64",
          "type": "integer"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "v1alpha2CertificateDeleteRequest": {
      "properties": {
        "owner": {
          "type": "string"
        },
        "uid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1alpha2CertificateDeployRequest": {
      "properties": {
        "cluster_name": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "owner": {
          "type": "string"
        },
        "secret_name": {
          "type": "string"
        },
        "uid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1alpha2CertificateDescribeRequest": {
      "properties": {
        "owner": {
          "type": "string"
        },
        "uid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1alpha2CertificateDescribeResponse": {
      "properties": {
        "certificate": {
          "$ref": "#/definitions/v1alpha2Certificate"
        }
      },
      "type": "object"
    },
    "v1alpha2CertificateListRequest": {
      "properties": {
        "owner": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1alpha2CertificateListResponse": {
      "properties": {
        "certificates": {
          "items": {
            "$ref": "#/definitions/v1alpha2Certificate"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "v1alpha2CertificateLoadRequest": {
      "properties": {
        "cert_data": {
          "type": "string"
        },
        "key_data": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "owner": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "certificate.proto",
    "version": "1alpha2"
  },
  "paths": {
    "/_appscode/api/cloud/v1alpha2/{owner}/certificates/json": {
      "get": {
        "operationId": "List",
        "parameters": [
          {
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1alpha2CertificateListResponse"
            }
          }
        },
        "tags": [
          "Certificates"
        ]
      }
    },
    "/_appscode/api/cloud/v1alpha2/{owner}/certificates/{name}/actions/obtain/json": {
      "put": {
        "operationId": "Load",
        "parameters": [
          {
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1alpha2CertificateLoadRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "tags": [
          "Certificates"
        ]
      }
    },
    "/_appscode/api/cloud/v1alpha2/{owner}/certificates/{uid}/actions/deploy/json": {
      "put": {
        "operationId": "Deploy",
        "parameters": [
          {
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1alpha2CertificateDeployRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "tags": [
          "Certificates"
        ]
      }
    },
    "/_appscode/api/cloud/v1alpha2/{owner}/certificates/{uid}/json": {
      "delete": {
        "operationId": "Delete",
        "parameters": [
          {
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "tags": [
          "Certificates"
        ]
      },
      "get": {
        "operationId": "Describe",
        "parameters": [
          {
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1alpha2CertificateDescribeResponse"
            }
          }
        },
        "tags": [
          "Certificates"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}