{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "authConduitRequest": {
      "type": "object"
    },
    "authConduitUser": {
      "properties": {
        "image": {
          "format": "string",
          "type": "string"
        },
        "phid": {
          "format": "string",
          "type": "string"
        },
        "primary_email": {
          "format": "string",
          "type": "string"
        },
        "real_name": {
          "format": "string",
          "type": "string"
        },
        "roles": {
          "items": {
            "format": "string",
            "type": "string"
          },
          "type": "array"
        },
        "uri": {
          "format": "string",
          "type": "string"
        },
        "user_name": {
          "format": "string",
          "type": "string"
        }
      },
      "type": "object"
    },
    "authConduitUsersResponse": {
      "properties": {
        "status": {
          "$ref": "#/definitions/dtypesStatus"
        },
        "user": {
          "items": {
            "$ref": "#/definitions/authConduitUser"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "authConduitWhoAmIResponse": {
      "properties": {
        "status": {
          "$ref": "#/definitions/dtypesStatus"
        },
        "user": {
          "$ref": "#/definitions/authConduitUser"
        }
      },
      "type": "object"
    },
    "dtypesHelp": {
      "properties": {
        "description": {
          "format": "string",
          "title": "Describe what link offers",
          "type": "string"
        },
        "url": {
          "description": "The URL of The link.",
          "format": "string",
          "type": "string"
        }
      },
      "title": "Provides links to documentation or for performing an out of band action.\nNext Id = 3",
      "type": "object"
    },
    "dtypesStatus": {
      "properties": {
        "code": {
          "format": "string",
          "title": "Response status code",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
          "items": {
            "$ref": "#/definitions/protobufAny"
          },
          "type": "array"
        },
        "help": {
          "$ref": "#/definitions/dtypesHelp",
          "description": "Optional. Help link if there is an error."
        },
        "message": {
          "description": "User facing message.",
          "format": "string",
          "type": "string"
        },
        "status": {
          "description": "Response status code string.",
          "format": "string",
          "type": "string"
        }
      },
      "title": "Next Id = 5",
      "type": "object"
    },
    "protobufAny": {
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }",
      "properties": {
        "type_url": {
          "description": "A URL/resource name whose content describes the type of the\nserialized protocol buffer message.\n\nFor URLs which use the scheme `http`, `https`, or no scheme, the\nfollowing restrictions and interpretations apply:\n\n* If no scheme is provided, `https` is assumed.\n* The last segment of the URL's path must represent the fully\n  qualified name of the type (as in `path/google.protobuf.Duration`).\n  The name should be in a canonical form (e.g., leading \".\" is\n  not accepted).\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics.",
          "format": "string",
          "type": "string"
        },
        "value": {
          "description": "Must be a valid serialized protocol buffer of the above specified type.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "conduit.proto",
    "version": "0.1"
  },
  "paths": {
    "/appscode/api/auth/v0.1/conduit/users": {
      "post": {
        "operationId": "Users",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authConduitRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description",
            "schema": {
              "$ref": "#/definitions/authConduitUsersResponse"
            }
          }
        },
        "summary": "appctl used this to validates the user token with phabricator.",
        "tags": [
          "Conduit"
        ]
      }
    },
    "/appscode/api/auth/v0.1/conduit/whoami": {
      "post": {
        "operationId": "WhoAmI",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authConduitRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description",
            "schema": {
              "$ref": "#/definitions/authConduitWhoAmIResponse"
            }
          }
        },
        "summary": "This rpc is used to check a valid user from other applications.",
        "tags": [
          "Conduit"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}