{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "v1alpha1ClusterApplyRequest": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1Address": {
      "properties": {
        "company": {
          "type": "string"
        },
        "country_code_numeric": {
          "title": "Ref https://developers.braintreepayments.com/reference/general/countries/ruby",
          "type": "string"
        },
        "extended_address": {
          "type": "string"
        },
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "locality": {
          "type": "string"
        },
        "postal_code": {
          "type": "string"
        },
        "region": {
          "type": "string"
        },
        "street_address": {
          "type": "string"
        }
      },
      "title": "Example\nresult = Braintree::Address.create(\n  :first_name          => 'Jenna',\n  :last_name           => 'Smith',\n  :company             => 'Braintree',\n  :street_address      => '1 E Main St',\n  :extended_address    => 'Suite 403',\n  :locality            => 'Chicago',\n  :region              => 'Illinois',\n  :postal_code         => '60622',\n  :country_code_numeric => '840'\n)",
      "type": "object"
    },
    "v1beta1Auth": {
      "properties": {
        "auth_type": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "secret": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1CreateRequest": {
      "properties": {
        "billing_address": {
          "$ref": "#/definitions/v1beta1Address"
        },
        "display_name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "initial_units": {
          "format": "int64",
          "type": "integer"
        },
        "invite_emails": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "payment_method_nonce": {
          "type": "string"
        },
        "subscription": {
          "type": "string"
        },
        "user_name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1DescribeRequest": {
      "properties": {
        "phid": {
          "type": "string"
        },
        "timestamp": {
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "v1beta1DescribeResponse": {
      "properties": {
        "logs": {
          "items": {
            "$ref": "#/definitions/v1beta1Log"
          },
          "type": "array"
        },
        "op": {
          "$ref": "#/definitions/v1beta1Operation"
        }
      },
      "type": "object"
    },
    "v1beta1Log": {
      "properties": {
        "id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "timestamp": {
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "v1beta1LogDescribeRequest": {
      "properties": {
        "log_id": {
          "type": "string"
        },
        "phid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1beta1LogDescribeResponse": {
      "properties": {
        "log": {
          "$ref": "#/definitions/v1beta1Log"
        }
      },
      "type": "object"
    },
    "v1beta1Metadata": {
      "description": "Metadata holds other on request or operation specific data\nthat could be used inside that operation.\nAn welldefined message instead of a map is used\nso that the data fields can be explicitly defined with\nits own data type. Resolves data convertions.",
      "properties": {
        "author_name": {
          "type": "string"
        },
        "author_phid": {
          "description": "PHID of the user who requested this operation.",
          "type": "string"
        },
        "purchase_phids": {
          "description": "Contains PurchasePHID is this is a purchase request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "v1beta1Operation": {
      "properties": {
        "auth": {
          "$ref": "#/definitions/v1beta1Auth"
        },
        "cluster_apply_request": {
          "$ref": "#/definitions/v1alpha1ClusterApplyRequest"
        },
        "metadata": {
          "$ref": "#/definitions/v1beta1Metadata"
        },
        "namespace_create_request": {
          "$ref": "#/definitions/v1beta1CreateRequest"
        },
        "phid": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/v1beta1OperationType"
        }
      },
      "title": "Next Id: 22",
      "type": "object"
    },
    "v1beta1OperationType": {
      "default": "UNKNOWN",
      "enum": [
        "UNKNOWN",
        "CLUSTER_APPLY",
        "NAMESPACE_CREATE"
      ],
      "title": "Next Id: 18",
      "type": "string"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "operation.proto",
    "version": "1beta1"
  },
  "paths": {
    "/_appscode/api/operation/v1beta1/operations/{phid}/json": {
      "get": {
        "operationId": "Describe",
        "parameters": [
          {
            "in": "path",
            "name": "phid",
            "required": true,
            "type": "string"
          },
          {
            "format": "int64",
            "in": "query",
            "name": "timestamp",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1DescribeResponse"
            }
          }
        },
        "tags": [
          "Operations"
        ]
      }
    },
    "/_appscode/api/operation/v1beta1/operations/{phid}/logs/{log_id}/json": {
      "get": {
        "operationId": "DescribeLog",
        "parameters": [
          {
            "in": "path",
            "name": "phid",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "log_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1LogDescribeResponse"
            }
          }
        },
        "tags": [
          "Operations"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}