{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "dtypesVoidResponse": {
      "type": "object"
    },
    "v1alpha1Address": {
      "properties": {
        "company": {
          "type": "string"
        },
        "country_code_numeric": {
          "title": "Ref https://developers.braintreepayments.com/reference/general/countries/ruby",
          "type": "string"
        },
        "extended_address": {
          "type": "string"
        },
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "locality": {
          "type": "string"
        },
        "postal_code": {
          "type": "string"
        },
        "region": {
          "type": "string"
        },
        "street_address": {
          "type": "string"
        }
      },
      "title": "Example\nresult = Braintree::Address.create(\n  :first_name          => 'Jenna',\n  :last_name           => 'Smith',\n  :company             => 'Braintree',\n  :street_address      => '1 E Main St',\n  :extended_address    => 'Suite 403',\n  :locality            => 'Chicago',\n  :region              => 'Illinois',\n  :postal_code         => '60622',\n  :country_code_numeric => '840'\n)",
      "type": "object"
    },
    "v1alpha1CreateRequest": {
      "properties": {
        "billing_address": {
          "$ref": "#/definitions/v1alpha1Address"
        },
        "display_name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "initial_units": {
          "format": "int64",
          "type": "integer"
        },
        "invite_emails": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "payment_method_nonce": {
          "type": "string"
        },
        "subscription": {
          "type": "string"
        },
        "user_name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1alpha1GetRequest": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1alpha1GetResponse": {
      "properties": {
        "phid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "v1alpha1IsAvailableRequest": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "team.proto",
    "version": "1alpha1"
  },
  "paths": {
    "/_appscode/api/namespace/v1alpha1/teams/json": {
      "post": {
        "operationId": "Create",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1alpha1CreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "summary": "Creates a new namespace, if name is valid and no namespace with same name exists.",
        "tags": [
          "Teams"
        ]
      }
    },
    "/_appscode/api/namespace/v1alpha1/teams/{name}/is-available/json": {
      "get": {
        "operationId": "IsAvailable",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "summary": "Check if a namespace name is available meaning name is valid and no namespace with same name exists.",
        "tags": [
          "Teams"
        ]
      }
    },
    "/_appscode/api/namespace/v1alpha1/teams/{name}/json": {
      "get": {
        "operationId": "Get",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1alpha1GetResponse"
            }
          }
        },
        "summary": "Gets a namespace, if exists. This can be used to check existence of a namespace.",
        "tags": [
          "Teams"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}